<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>404 InnoWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/generated/css/styles.css}">
    <style type="text/css">
		body {
			margin: 0;
			padding: 0;
			background-color: #7986cb;


		}

		.row {
			margin: 0;
		}

		a {
			background-color: #495cb9;
			border: 0px;
			text-decoration: none;
			padding: 10px;
			color: #fff;

		}

		a:hover {
			text-decoration: none;
			color: #fff;
			background-color: #2d44b7;
		}

		h1 {
			font-size: 180px;
		}

		h4 {
			padding-bottom: 20px;

		}

		p {
			text-align: center;

		}
	</style>
  </head>

<body>
<div class="row">
  <div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white vh-100">
    <h1>Whoa! 404</h1>
    <h4>Seite nicht gefunden</h4>
    <p>Ups! Die Seite, die du suchst, existiert nicht. Sie wurde möglicherweise verschoben oder gelöscht.</p>
    <a href="/">Zurück zur Startseite</a>
  </div>
</div>
</body>

</html>